# ---- Global
.DS_Store
*.log
.env
.env.*
!.env.example
backend.zip
frontend.zip
node_modules/
dist/
build/

# ---- Frontend (Vite/React)
frontend/node_modules/
frontend/.vite/
frontend/.next/
frontend/.cache/
frontend/dist/
frontend/coverage/

# ---- Backend (Maven/Spring)
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# ---- IDEs
.vscode/
.idea/
